body {
    font-family: Comic Sans, Arial, 'Lucida Sans';
    line-height:1.6;
    width: 100%;
}
main {
    text-align: center;
    width: 54%;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 4px;
    margin-top: 220px;
    float: left;
    width: 60%;

}
article {
    border: 2px dotted rgb(8, 190, 145);
    padding: 6px;
    border-radius: 20px;
    margin-bottom: 10px;
}
article img{
    width: 120px;
    height: 140px;
    float:left;
    margin-right: 10px;
    border: 2px dotted rgb(8, 190, 145);
    padding: 4px;
    border-radius: 10px;
}
article h2{
    border-radius: 10px;
    border: 2px dotted rgb(8, 190, 145);
    float: left;
    width: 84%;
}
h2:hover {
    background-color:rgb(8, 190, 145);
    border: 2px dotted rgb(6, 136, 103);
}
aside{
    margin-top: 320px;
    float:left;
    width: 28%;
    border: 2px dotted rgb(8, 190, 145);
    margin-right: 20px;
    border-radius: 20px;
    margin-left: 50px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 20px;
}
aside h2{
    text-align: center;
    border: 2px dotted rgb(8, 190, 145);
    border-radius: 10px;

}
aside figure{
    float:left; 
    width: 30%;
    border: 2px dotted rgb(8, 190, 145);
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}
aside img{
    width: 70px;
    height: 90px;
}
footer {
    clear: both;
}
main h1{
    border: 2px dotted rgb(8, 190, 145);
    border-radius: 10px;
}
h1:hover {
    border: 2px dotted rgb(6, 136, 103);
    background-color:rgb(8, 190, 145);
}
