body {
    font-family: Comic Sans, Arial, 'Lucida Sans';
    line-height:1.6;
    width: 100%;
}
main {
    margin-top: 220px;
    float: left;
    width: 65%;

}
main h1 {
    border: 2px dotted rgb(79, 56, 116);
    width: 102%;
    margin-left: 20px;
    text-align: center;
    border-radius: 10px;
}
h1:hover{
    background-color:rgb(79, 56, 116);
    border-color: rgb(53, 38, 78);
}
#imgp {
    width: 120px;
    height: 140px;
    float:left;
    margin-right: 5px;
    border: 2px dotted rgb(79, 56, 116);
    padding: 4px;
}
aside{
    margin-top: 320px;
    float:right;
    width: 25%;
    border: 2px dotted rgb(79, 56, 116);
    margin-right: 20px;
    border-radius: 10px;
}
article {
    width: 100%;
    padding: 20px;
    padding-left: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border:2px dotted rgb(79, 56, 116);
    border-radius: 10px;
}
main h2{
    border:2px dotted rgb(79, 56, 116);
    border-radius: 10px;
    width: 84%;
    float:left;
    padding: 2px;
    text-align: center;

}
h2:hover{
    background-color:rgb(79, 56, 116);
    border-color: rgb(53, 38, 78);
}
footer {
    clear: both;
}
aside h2{
    text-align: center;
    border:2px dotted rgb(79, 56, 116);
    border-radius: 10px;
    margin: 5px;
}
